@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
    font-size:14px;
    font-weight:600;
    padding: 15px 30px;
    color:#000000;
    background-color: white;
    border-radius: 4px;
    cursor:pointer;
    border: none;
    outline: none;
    transition: 0.3s ;

}
button.white{
    font-size:13px;
    font-weight:600;
    padding: 11px 18px;
    color:white#000000;
    background-color: transparent;
    cursor:pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.3s ;

}
body {
  width: 100%;
}
/* logo style */
.logo{
    height: 70px;
    width: 70px;
}
/* cart */
.closeimg{
    height: 15px;
    width: 15px;
}
.cart{
    height: 30px;
    width: 30px;  
}
/* header */
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: rgb(221, 221, 226);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    right: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content:center;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#navbar li{
list-style:none;
padding: 0 25px;
}
#navbar li a{
    text-decoration:none;
    font-size:17px;
    font-weight: 700;
    color: #000000;
    transition:0.4s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    font-size:22px;
    color: #0e1a75;
}
/* cartimg */
.cartimg{
    height:20px;
    width:20px;
}
/* Home page */
#hero{
    background-image:url("img/hero4.png");
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
#hero h4{
padding-bottom: 10px;
}
#hero h1{
    color: rgb(82, 156, 182);
}
#hero button{
    background-image: url("img/button.png");
    background-color:transparent;
    color: rgb(10, 21, 21);
    font-style: italic;
    font-size:15px;
    border:0;
    padding: 15px 80px;
    background-repeat: no-repeat;
}
#feature{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
#feature .fe-box
{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(0, 0, 0,0.06);
border: 1px solid #000000;
border-radius: 4px;
margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 60, 205,0.1);
}
#feature .fe-box img{
width: 100%;
margin: bottom 10px;;
}
#feature .fe-box h6{
    color:rgb(0, 1, 1);
    background-color: rgb(243, 184, 206);
    padding: 7px 7px;
    display: inline-block;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}
#product1 .pro{
    width: 23%;
    min-width: 25px;
    padding:10px 12px;
    border: 1px solid #000000;
    border-radius: 25px;
    margin:15px 0;
    position: relative;
}
#product1 .pro #imgf
{
    width:100%;
    border-radius:20px;
}
#product1 .pro .des {
    text-align: start;
    padding:0px 12px;
}
#product1 .pro .des h5{
    padding:10px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size:15px;
    font-weight:700;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
   
    font-weight:500;
    position: absolute;
    bottom:20px;
    right:10px;
  
}
#banner{
    background-image: url(img/banner/b2.jpg);
    display: flex;
    align-items: center;
    justify-content:center; 
    flex-direction: column;
    text-align: center;  
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:white;
    font: size 14px;;
}
#banner h2{
    color:white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color:rgb(133, 22, 22);
   
}
#banner button:hover{
    background-color: #465b52;
    color:azure
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    background-image: url(img/banner/b17.jpg);
    display: flex;
    align-items:flex-start;
    justify-content:center; 
    flex-direction: column;
     
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url(img/banner/b10.jpg);
}
#sm-banner h4{
    font-size: 20px;
    font-weight: 300;
    color: white;
}
#sm-banner h2{
    font-size: 28px;
    font-weight: 800;
    color: white;
}
#sm-banner span{
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #27694d;

}
#banner3 .banner-box{
    background-image: url(img/banner/b7.jpg);
    display: flex;
    align-items:flex-start;
    justify-content:center; 
    flex-direction: column;
     
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;;

}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size:22px;
}
#banner3 h3{
    color: #ed0911;
    font-weight: 800;
    font-size:15px;
}
#banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    background-image:url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: rgb(3, 28, 67);
}
#newsletter h4{
    color: #fff;
    font-weight: 700;
    font-size:22px;
}
#newsletter p{
    color: #5e5656;
    font-weight: 600;
    font-size:14px;
}
#newsletter p span{
    color: #e3cd77;

}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input {
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;

}
#newsletter button{
    background-color: #27694d;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .log1{
    margin-bottom: 30px; 
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}
footer a{
    font-size: 13px; 
    margin-bottom: 10px; 
    color:#222;
    text-decoration:none;
}
footer .install .row img{
    border: 1px solid #27694d;
    border-radius:6px;
}
footer .install  img{
margin: 10px 0 15px 0;
}

footer a:hover{
    color: #0e1a75;
}
footer .copyright{
    width:100%;
    text-align: center;
}
@media (max-width:799px){
      .section-p1{
        padding:40px 40px;
      }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height:100vh;
        width:300px;
        background-color: rgb(221, 221, 226);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 10px;
        transition: 0.3s;
       
    }
    #navbar.active{
        right: 0px;
    }
    #close{
        display: flex;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile .i{
        padding-left:20px; 
        color: #000000;
        font-size: 24px;
    }
    #mobile .manu {
        height: 25px;
        width: 25px; 
    }
    #lg-bag{
        display: none;
    }
   #close{
    position: absolute;
    top: 30px;
    left:30px;
    color: #222;
    font-size: 24px;
   }
   #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
   }
   #feature{
    justify-content: center;
   }
   #feature .fe-box{
    margin: 15px 15px;
   }
   #product1 .pro-container{
    justify-content: center;
   }
   #product1 .pro{
    margin: 15px;
   }
   #banner{
    height: 20vh;
   }
   #sm-banner .banner-box{
    min-width:100%;
    height:30vh;
   }
   #banner3{
    padding: 0 40px;
   }
   #banner3 .banner-box{
    width: 28%;
   }
   #newsletter .form {
  
    width:70%;
}
}
@media(max-width:477px){
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;;
    }
    h2{
        font-size: 32px;;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature .fe-box{
        width: 155px;
        margin:0 0 15px 0;
    }
    #product {
        display:flex;
    }
    #product .pro{
        width:100%;
    }
    #banner{
        height:40vh;
    }
    #sm-banner .banner-box{
        height:40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form {
  
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
}